$gantt-grid-x:4%;
$gantt-extended-grid-x:3em;
$font-stack:"Signika Negative","Calibri",sans-serif;
$font-size-base:16px;
$line-height:2*$font-size-base;
$event-work:#CA99FF;
$event-school:lightblue;
$event-unavailable:#f44;
$theme-bg:#edede4;
$day-start:6;
$day-end:24;